.container{
    width:1100px;
    height:700px;
    background-color: rgb(42, 39, 70);
    margin:100px auto;
    position: relative;
}

.slider-cont{
    width: 1000px;
    height: 600px;
    top:50px;
    left:50px;
    border: solid 2px black;
    position: absolute;
    display: flex;
    overflow: hidden;
}

.imgs{
    display: flex;
    width: 4000px;
    overflow: hidden;
    
}
.btns{
    justify-self: flex-end;
    width:400px;
    justify-content: flex-end;
    align-items: flex-start;
    display:flex
}
.btns label{
    width:20px;
    height: 20px;
    background-color: rgb(110, 104, 175);
    border-radius: 50%;
    border: solid 3px rgb(110, 104, 175);
}
.btns label:hover{
    border:solid 3px white;
    background-color: white;
}



.img{
    border-radius: 3%;
    overflow: hidden;
    transition: all 0.4s ease;
}
.img-cont{
    display: flex;
    flex-wrap: wrap;
}
.img-cont input{
    display: none;
}

#r1:checked ~ .s1{
    margin-left: 0%;
}

#r2:checked ~ .s1{
    margin-left: -25%;
}

#r3:checked ~ .s1{
    margin-left: -50%;
}

#r4:checked ~ .s1{
    margin-left: -75%;
}

.text-area{
    width: 600px;
    display: flex;
    flex-direction: row;

}
.text{
    font-size: 25px;
    color: white;
    margin-right: 200%;
}

#r1:checked ~ .t1{
    margin-left: 0%;
}

#r2:checked ~ .t1{
    margin-left: -25%;
}

#r3:checked ~ .t1{
    margin-left: -50%;
}

#r4:checked ~ .t1{
    margin-left: -75%;
}

#r1:checked ~ .btns label{
    background-color: transparent;
}